{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-primary fixed-top">
        <div class="container">
            <img src="/static/img/ig-logo1.png" alt="Logo" class="navbar-brand" style="height:70px;width:70px; border-radius:50%; display:inline;"> 
            <a class="navbar-brand" href="{% url 'home' %}"> OGInsta+ </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                        {% if user.is_authenticated %}
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Friends</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style = "cursor:pointer" href="#">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
            </div>
        </div>
    </nav>
</body>
</html>