{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<link href='https://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans' rel="stylesheet">
<body style="font-family: 'sans-serif'"> 
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4 col-lg-4">
        <img src="/static/img/igphone.jpg" alt="responsive" height="500" width="800" >
    </div>
    <div class="col-md-2 col-lg-2"></div>    
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="panel panel-default panel-auth">

        <div class="panel-heading panel-auth">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

          <em class="auth-redir">Already have an account? <a href="/accounts/login/">Login here</a></em>
        </div>
      </div>

    </div>
    <!-- empty div -->
  </div>
</div>

{% endblock %}

